
.Title{
  background: #F44336;
  padding-left: 1.4rem;
  margin: 0;

  h4{

    font-family: "Lintel Black";
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 100;
    color: #fff;
    //text-transform: uppercase;
  }
}
