@import "../../styles/variables";
.HottestNews{
  height: 100%;
  position: relative;
  margin: 1.5rem 0;
  img{
    width:100%;
  }
  .cover{
    position: absolute;
    bottom:0;
    background-color: rgba($background, .85);
    width: 100%;
    color: $white;
    h4{
      font-family: "Sailec Regular";
      font-size: $font_size_large;
      font-weight: 700;
      margin-left: 1.4rem;
    }
    h5{
      font-family: "Sailec Regular";
      font-size: $font_size_default;
      margin-left: 1.4rem;
    }
  }
}
