.Logo{
  position: absolute;
  width: 10rem;
  height: 10rem;
  background-color: #373435;
  border-radius: 100%;
  z-index: 23;
  .logo-svg{
    margin-top: .3rem;
    margin-right: .3rem;
    border-radius: 100%;
    max-width: 9.4rem;
    max-height: 9.4rem;

    .fil1 {
      fill:#FEFEFE;
        }
    .fil4 {
      fill:#373435;

    }
    .fil2 {
      fill:#FEFEFE;

    }
    .fil3 {
      fill:#FEFEFE;

    }
    .fil0 {
      fill:#373435;
    }
    .inner {fill:#373435;}
    .inner-group {
      fill:#373435;
    }
  }
  box-shadow: 0 2px 7px .5px rgba(0,0,0,.55);
  &:hover{
    box-shadow: 0 3px 10px 1px rgba(0,0,0,.48);
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
  }
  &:active{
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    box-shadow: none;
  }
}
