@import "../../styles/variables";
.LeagueTable {
  color: $greyscale_800;
  margin: 1.5rem 0;
  font-family: "Sailec Regular";
    table{
        border-collapse: collapse;
        text-align: left;
        border-radius: .3em;
        thead{
            tr{
                th{
                    span{
                      line-height: 1rem;
                      padding: 1rem 1rem 1rem 1rem;
                      display: block;
                      font-size: $font_size_default;
                    }
                    img{
                      height: 7rem;
                      padding: 0 0 .4rem 1.6rem;
                  }
                }
            }
        }
        tbody{
            tr{
                td{
                  span {

                    padding: 1rem;
                    display: block;
                    font-size: 1.6rem;
                  }
                    img{
                      max-height: 2.8rem;
                      display: block;
                    }
                  &:first-child{
                    span{
                      padding-left: 1.4rem;
                    }
                  }
                  &:last-child{
                    span{
                      padding-right: 1.4rem;
                    }
                  }
                }
                &:nth-child(3){
                   td{
                        border-bottom: 1px solid $redscale_200 !important;
                   }
                }
                &:nth-child(9){
                    td{
                        border-bottom: 1px solid $greyscale_400 !important;
                    }
                }
                &:last-child{
                    td{
                        &:first-child{
                            border-bottom-left-radius: .3em;
                        }
                        &:last-child{
                            border-bottom-right-radius: .3em;
                        }
                    }
                }
            }

        }
    }
}
