.header {
  background: #373435;
  background-size: cover;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
}

.content {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 64px 16px;
  overflow: auto;
}

.site-title {
  font-weight: 300;
  font-size: 42px;
  float: left;
}

.site-title a {
  text-decoration: none;
  color: #FFF;
}

.add-post-button {
  display: inline-block;
  color: #FFF;
  background: #03A9F4;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 1000px;
  float: right;
}

.language-switcher {
  background: #373435;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 33;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
}

.language-switcher ul {
  list-style: none;
  width: 1180px;
  margin: auto;
  text-align: right;
}

.language-switcher li {
  //font-family: "Gotham Bold";
  display: inline-block;
  margin: 20px 10px;
  text-transform: capitalize;
  padding: 5px 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.language-switcher li:first-child {
  color: rgba(255, 255, 255, 0.7);
}

.selected {
  border-bottom: 2px solid #fff;
}

@media (max-width: 767px){
  .add-post-button{
    float: left;
    margin-top: 16px;
  }
}
