@font-face {
  font-family: 'Lintel Black';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Lintel-Black.woff') format('woff'), local('Lintel Black'), local('LintelBlack');
}

@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Gotham/Bold.woff') format('woff'), local('Gotham Bold'), local('GothamBold');
}
@font-face {
  font-family: 'Gotham Book';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Gotham/Book.woff') format('woff'), local('Gotham Book'), local('GothamBook');
}
@font-face {
  font-family: 'Sailec Medium';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Sailec/Medium.woff') format('woff'), local('Sailec Medium'), local('SailecMedium');
}
@font-face {
  font-family: 'Sailec Light';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Sailec/Light.woff') format('woff'), local('Sailec Light'), local('SailecLight');
}
@font-face {
  font-family: 'Sailec Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Sailec/Regular.woff') format('woff'), local('Sailec Regular'), local('SailecRegular');
}
